.content {
padding-top: 7rem;
width: 100%;
}
.container {
    max-width: 90rem;
    margin: 0 auto;
    align-items: center;
    text-align: center;
   
}
.container .card{
    
    text-decoration: none;
    background-color: white;
    
    
    animation: showin 1.5s ease-in ;
    color: black;
   
}
@keyframes showin {
    0% {
        opacity: 0;
        transform: scale(.8);
    }
    100% {
        opacity: 100%;
        transform: scale(1);
    }
}
@media screen  and (min-width:30rem) {
    .container{ 
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}
.container a {
   width: 48%;
   min-height: 20rem;
   padding: 0;
  margin: 0;
}
}
@media screen  and (min-width:50rem) {
    .container{ 
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}
.container a {
   width: 32%;
   min-height: 20rem;
   padding: 0;
  margin: 0;
}
}
@media screen  and (min-width:75rem) {
    .container{ 
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}
.container a {
   width: 24%;
   min-height: 20rem;
   padding: 0;
  margin: 0;
}
}
